/* ||||||||||||||||||||||||||||||||| LALARUKH CLASSES |||||||||||||||||||||||||||||||||||| */
.gnrtdtext{
    padding: 25px 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    font-size: 17px;
    margin-bottom: 20px;
}
#resulted_phrase{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #292828;
    background-color: transparent;
    border-radius: 50%;
}
.frstrsltdiv{
    color: #28354D;
    font-size: 16px;
}
.rsltdwholebox{
    border: 1px solid #d7d8d9;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.rsltdwholebox:hover{
    background-color: #ECF2FF;
}